{
  "name": "{{ project_name|lower|replace(' ', '-') }}",
  "version": "0.1.0",
  "description": "{{ project_tagline }}",
  "type": "module",
  "scripts": {
    "test": "node --test",
    "format": "prettier -w ."
  },
  "license": "UNLICENSED"
}
